* {
  margin: 0;
  padding: 0;
}

/* Holds all components */
.App {
  width: 90vw;
  min-width: 300px;
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  margin: 0 auto;
  margin-top: 10px;
}

.App-title {
  align-self: stretch;
  text-align: center;

  border: solid black 2px;
  border-radius: 10px;
}

/* Add New Resource Section */
form {
  display: none;
}

/* DisplayData and Note Properties */
.DisplayData {
  height: 80vh;
  align-self: stretch;
  text-align: center;

  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;

  gap: 10px;
  padding: 10px;

  border: solid black 2px;
  border-radius: 10px;

  overflow: scroll;
}

.Note {
  width: 200px;
  height: 100px;

  padding: 10px;
  box-sizing: border-box;

  border: dashed black 2px;
}
