* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

/* Holds all components */
.App {
  width: 95vw;
  min-width: 300px;
  height: 95vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  margin: 0 auto;
  margin-top: 10px;
}

.App-title {
  color: white;
  align-self: stretch;
  text-align: center;

  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Add new resource which contains the add and form sections */
.AddNewResource {
  align-self: stretch;
  border-top: dashed black 1px;

  display: flex;
  justify-content: center;
  padding-top: 5px;
}

/* Add New Resource Section */
form {
  display: none;
  box-sizing: border-box;

  text-align: center;
  color: white;

  width: 250px;
  max-width: 90vw;
  padding: 10px;

  position: absolute;
  top: 20vh;
  transform: translateX(-50%);
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.btn {
  background-color: #000000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 0 4px 0 4px;
}

.btn-form {
  background-color: #ffffff;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.form-title {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.form-title-closeBtn {
  color: red;
  border: none;
  background: transparent;
}

/* DisplayData and Note Properties */
.DisplayData {
  height: 85vh;
  align-self: stretch;
  text-align: center;

  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;

  gap: 10px;
  padding: 10px;

  border-radius: 10px;

  overflow-y: scroll;
}

.Note {
  width: 250px;
  height: 175px;

  padding: 10px;
  box-sizing: border-box;

  border: dashed black 2px;

  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Note:hover {
  background-color: rgb(242, 242, 242);
}

.note-title {
  font-weight: bolder;
}

.note-link {
  cursor: pointer;

  border: solid black 1px;
  text-decoration: none;
  padding: 2px 4px 2px 4px;
}
